<div ng-init="states={}" class="panel panel-default">

    <div class="panel-heading">Process instances</div>
    <div class="panel-body">
        <p>This is a list of the states of all running processes</p>
    </div>
    <div style="height:200px;overflow: scroll;">
        <table data-toggle="table" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th data-field="processId" data-align="right"  data-sortable="true">Process Id</th>
                    <th data-field="state" data-align="right"  data-sortable="true">State</th>
                    <th data-field="reason" data-align="right"  data-sortable="true">Reason</th>
                    <th data-field="changeWhen" data-align="right"  data-sortable="true">Changed when</th>
                    <th data-field="changeBy" data-align="right"  data-sortable="true">Changed by</th>
                    <th data-field="changeBy" data-align="right"  data-sortable="true">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in states | orderBy:['state', 'changedWhen']" ng-click="controller.get_process_history(value['processId'])" >
                    <td>{{value["processId"]}}</td>
                    <td ng-show="value['state'] == 'running'"><b>RUNNING</b>
                    <td ng-show="value['state'] != 'running'">{{value["state"]}}</td>
                    <td>{{value["reason"]}}</td>
                    <td>{{value["changedWhen"]}}</td>
                    <td>{{value["changedBy"]}}</td>
                    <td><button ng-show="value['state'] == 'running'" ng-click="controller.stop()" title="Stop process">Stop</button><button ng-show="value['state'] == 'running'" title="Kill worker process" ng-click="controller.kill()">Kill</button></td>
                <tr/>
            </tbody>

        </table>
    </div>
</div>

<div ng-init="states={}" class="panel panel-default">

    <div class="panel-heading">Process history</div>
    <div class="panel-body">
        <p>This is the history of the above selected process</p>
    </div>
    <div style="height:200px;overflow: scroll;">
        <table id="table-transform" data-toggle="table" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>

                    <th data-field="state" data-align="right"  data-sortable="true">State</th>
                    <th data-field="reason" data-align="right"  data-sortable="true">Reason</th>
                    <th data-field="changeWhen" data-align="right"  data-sortable="true">Changed when</th>
                    <th data-field="changeBy" data-align="right"  data-sortable="true">Changed by</th>
                    <th data-field="changeBy" data-align="right"  data-sortable="true">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in current_process_history | orderBy:['state', 'changedWhen']">
                    <td>{{value["state"]}}</td>
                    <td>{{value["reason"]}}</td>
                    <td>{{value["changedWhen"]}}</td>
                    <td>{{value["changedBy"]}}</td>
                    <td><button ng-show="value['state'] == 'running'" ng-click="controller.stop()" title="Stop process">Stop</button><button ng-show="value['state'] == 'running'" title="Kill worker process" ng-click="controller.kill()">Kill</button></td>
                <tr/>
            </tbody>

        </table>
    </div>
</div>
<span class="left_row_headings"><br/>Select<br/>process</span>
<select ng-model="controller.currProcess" ng-options="item.value as item.text for item in controller.processes"></select>
<span class="left_row_headings"><br/>Select<br/>agent</span>
<select ng-model="controller.currAgent" ng-options="item.value as item.text for item in controller.agents"></select>
<button ng-click="controller.start_process(controller.currProcess)">Start {{controller.currProcess}} </button>
<button ng-click="controller.attack(controller.currProcess)">Start lots of processes</button>
<button ng-click="controller.kill_agent(controller.currAgent)">Kill {{controller.currAgent}}</button>

<div ng-init="startedProcesses=[]" class="panel panel-default">

    <div class="panel-heading">Started process</div>
    <div class="panel-body">
        <p>This is a list of the process instances that has been started</p>
    </div>
    <div style="height:200px;overflow: scroll">
        <table class="table">
            <th>Process Id</th>
            <tr ng-repeat="curr_process in startedProcesses">
                <td>{{curr_process}}</td>
            <tr/>
        </table>
    </div>
</div>

